.h1 {
  text-align: center;
}

.wrapper {
    text-align: center;
}

.play {
    position: absolute;
    margin-bottom: 20px;
}

.game-card {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #e53935;
}

.card-image{
  width: 150px;
  height: 150px;
}
